/* From zblesk, riffing on etcSudoers:
 *
 * Red was too red, so this is my Dark theme with Crimson.
 * … then I got annoyed that my unordered lists don’t match colors. Also
 * changed the Mark color from yellow to orange, so it’s less jarring. I ended
 * up with this.
 */

ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

ol>li {
    margin: 0;
    padding: 0 0 0 2em;
    list-style-type: none;
    counter-increment: item;
}

ol>li:before {
    color: crimson;
    content: counter(item) ".";
    display: inline-block;
    float: left;
    font-weight: bold;
    padding-right: 0.5em;
    width: 1em;
}

ul {
    margin: 0 0 1.5em;
    padding: 0 0 0 2em;
    /* Remove default bullets */
    list-style: none;
}

ul li::before {
    color: crimson;
    content: "\2022";
    display: inline-block;
    float: left;
    font-weight: bold;
    padding-right: 0.3em;
    width: 1em;
}

mark {
    background-color: orange;
}
